{% for field in category.fields %}
<label>{{ field }}{{ ' *' if field == category.primary_field else '' }}</label>
{% if field == "Ownership" %}
<input type="text" name="{{ field }}" value="{{ values.get(field, '') if values else '' }}" list="ownership-options">
<datalist id="ownership-options">
  <option value="Physical">
  <option value="Digital">
  <option value="Physical &amp; Digital">
</datalist>
{% elif field == "Digital Platforms" and category.slug == "video-games" %}
<input type="text" name="{{ field }}" value="{{ values.get(field, '') if values else '' }}" list="digital-platform-options-vg" placeholder="e.g. Steam, PSN">
<datalist id="digital-platform-options-vg">
  <option value="Steam">
  <option value="Nintendo eShop">
  <option value="PlayStation Store">
  <option value="Xbox Store">
  <option value="Epic Games Store">
  <option value="GOG">
  <option value="Battle.net">
  <option value="EA App">
</datalist>
{% elif field == "Digital Platforms" %}
<input type="text" name="{{ field }}" value="{{ values.get(field, '') if values else '' }}" list="digital-platform-options" placeholder="e.g. Vudu, Apple TV">
<datalist id="digital-platform-options">
  <option value="Vudu">
  <option value="Apple TV">
  <option value="Google Play">
  <option value="Amazon Prime Video">
  <option value="Movies Anywhere">
  <option value="Disney+">
  <option value="Max">
  <option value="Paramount+">
  <option value="Peacock">
  <option value="Kaleidescape">
</datalist>
{% elif field == "Platform" %}
<input type="text" name="{{ field }}" value="{{ values.get(field, '') if values else '' }}" list="console-platform-options" placeholder="e.g. Nintendo Switch">
<datalist id="console-platform-options">
  <option value="Nintendo Switch">
  <option value="Nintendo Switch 2">
  <option value="PlayStation 5">
  <option value="PlayStation 4">
  <option value="Xbox Series X|S">
  <option value="Xbox One">
  <option value="PC">
  <option value="Steam Deck">
  <option value="Wii U">
  <option value="Wii">
  <option value="Nintendo 3DS">
  <option value="PS Vita">
</datalist>
{% else %}
<input type="text" name="{{ field }}" value="{{ values.get(field, '') if values else '' }}">
{% endif %}
{% endfor %}
